*{
    margin: 0;
    padding: 0;
}
#gre{
    width: 100%;
    display: block;
    position: fixed;
    z-index: 99;
}
#gre>span{
    position: absolute;
    width: 3vh;
    height: 6vh;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top: 2vh rgb(27, 27, 27) solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    animation-fill-mode: both;
}
#s1{
    background: rgb(120, 194, 255);
    box-shadow: rgb(39, 108, 255) 0 0 40px;
    -webkit-text-fill-color: transparent;
    animation: cl2 1.4s ease infinite;
    border: none;
    text-align: center;
    left: 3.09%;
    top: 35px;
}
#s2{
    background: rgb(29, 255, 168);
    box-shadow: rgb(0, 255, 34) 0 0 40px;
    -webkit-text-fill-color: transparent;
    animation: cl3 0.7s ease infinite;
    border: none;
    width: 5vh;
    height: 5vh;
    text-align: center;
    top: 42px;
    left: 13.09%;
}
#s3{
    background: rgb(255, 96, 96);
    box-shadow: rgb(255, 83, 83) 0 0 40px;
    -webkit-text-fill-color: transparent;
    animation: cl4 1.1s ease infinite;
    border: none;
    width: 5vh;
    height: 5vh;
    text-align: center;
    top: 45px;
    left: 23.09%;
}
#s4{
    background: rgb(45, 66, 255);
    box-shadow: rgb(29, 63, 255) 0 0 40px;
    -webkit-text-fill-color: transparent;
    animation: cl2 1.4s ease infinite;
    border: none;
    width: 5vh;
    height: 5vh;
    text-align: center;
    top: 47px;
    left: 33.09%;
}
#s5{
    background: rgb(29, 255, 168);
    box-shadow: rgb(0, 255, 34) 0 0 40px;
    -webkit-text-fill-color: transparent;
    animation: cl3 0.4s ease infinite;
    border: none;
    width: 5vh;
    height: 5vh;
    text-align: center;
    top: 48px;
    left: 46.10%;
}
#s6{
    background: rgb(255, 96, 96);
    box-shadow: rgb(255, 83, 83) 0 0 40px;
    -webkit-text-fill-color: transparent;
    animation: cl4 1.1s ease infinite;
    border: none;
    width: 5vh;
    height: 5vh;
    text-align: center;
    top: 48px;
    left: 60.09%;
}
#s7{
    background: rgb(71, 226, 253);
    box-shadow: rgb(0, 162, 255) 0 0 40px;
    -webkit-text-fill-color: transparent;
    animation: cl2 1.4s ease infinite;
    border: none;
    width: 5vh;
    height: 5vh;
    text-align: center;
    top: 47px;
    left: 70.09%;
}
#s8{
    background: rgb(29, 255, 168);
    box-shadow: rgb(0, 255, 34) 0 0 40px;
    -webkit-text-fill-color: transparent;
    animation: cl3 0.4s ease infinite;
    border: none;
    width: 5vh;
    height: 5vh;
    text-align: center;
    top: 43px;
    left: 80.09%;
}
#s9{
    background: rgb(255, 96, 96);
    box-shadow: rgb(255, 0, 0) 0 0 40px;
    -webkit-text-fill-color: transparent;
    animation: cl4 1.1s ease infinite;
    border: none;
    width: 5vh;
    height: 5vh;
    text-align: center;
    top: 38px;
    left: 90.09%;
}
.line{
    position: absolute;
    height: 50px;
    width: 100%;
    border-bottom: 2px black solid;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}
@keyframes cl2 {
0%, 100%{
    background: rgb(71, 226, 253);
    box-shadow: rgb(0, 162, 255) 0 0 40px;
}
50%{
    background: rgb(61, 145, 161);
    box-shadow: rgba(0, 162, 255, 0) 0 0 40px;
}
}
@keyframes cl3 {
0%, 100%{
    background: rgb(29, 255, 168);
    box-shadow: rgb(0, 255, 34) 0 0 40px;
}
50%{
    background: rgb(18, 119, 80);
    box-shadow: rgba(0, 255, 34, 0) 0 0 40px;
}
}
@keyframes cl4{
0%, 100%{
    background: rgb(255, 77, 77);
    box-shadow: rgb(255, 0, 0) 0 0 40px;
}
50%{
    background: rgb(158, 74, 74);
    box-shadow: rgba(150, 31, 31, 0) 0 0 40px;
}
}
.sear{
    display: flex;
    position: absolute;
    background-color: #2f3640;
    height: 40px;
    border-radius: 30px;
    padding: 7px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: 100;
}
.search_img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f3640;
    width: 30px;
    height: 30px;
    border-radius: 30%;
}
.inp{
    border: none;
        outline: none;
        background: none;
        color: #fff;
        font-size: 20px;
        height: 30px;
        transition: 1s;
        line-height: 10px;
        width: 0;
}
.sear:hover .inp{
    transition: 1.5s;
    width: 240px;
    padding: 0 6px;
}
header{
    width: 100%;
    display: inline-flex;
    background: rgb(70, 72, 85);
    height: 45px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
}
.m{
    position: absolute;
    width: 40px;
    display: flex;
    background: none;
    height: 40px;
    border-radius: 10px;
    font-size: 35px;
    color: #fff;
    top: 0;
    left: var(--x);
    align-items: center;
    justify-content: center;
}
.m>img{
    width: 70px;
    height: 70px;
}
.l>ul>li{
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 30px;
}
.l{
    position: fixed;
    left: -320px;
    top: 0;
    width: 320px;
    height: 100vh;
    padding: 0;
    margin: 0;
    text-align: center;
    background: rgba(55, 59, 70, 0.932);
    z-index: 101;
    transition: 1s;
    overflow: auto;
}
.input[type="radio"]{
    z-index: 999;
}
header>h1{
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    width: auto;
    margin: auto;
    z-index: 99;
}
@media (max-width: 860px){
    header>h1{
        display: flex;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        width: auto;
        margin: auto;
        font-size: 2em;
    }
    .sear{
        display: flex;
        position: absolute;
        background-color: #2f3640;
        height: 40px;
        border-radius: 30px;
        padding: 7px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        z-index: 100;
    }
    .search_img{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2f3640;
        width: 30px;
        height: 30px;
        border-radius: 30%;
    }
    .inp{
        border: none;
        outline: none;
        background: none;
        color: #fff;
        font-size: 20px;
        height: 30px;
        transition: 1s;
        line-height: 10px;
        width: 0;
    }
    .sear:hover .inp{
        transition: 1.5s;
        width: 170px;
        padding: 0 6px;
    }
}
.lo{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 998;
    left: 0;
    top: 0;
    background: #000;
}
.lod{
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 999; 
    left: 50%;
    top: 50%;
    margin: 0;
    padding: 0;
    background: #000;
    border: 10px rgb(255, 255, 255) solid;
    transform: translate(-50%,-50%);
    border-radius: 100px;
    border-top-color: blue;
    animation: spinder 900ms infinite linear;
}
.del{
    display: none;
}